.modal__wrapper {
  position: fixed;
  bottom: 0;
  z-index: 1;
  transition: all .5s;
  padding: 20px;
  width: 100%;
}

.modal__wrapper.open {
  height: 100%;
  display: block;
}

.modal__wrapper.close {
  height: 0;
  display: none;
}

.modal__body {
  max-width: 500px;
  margin: auto;
  background: white;
  margin-top: 5%;
  padding: 20px;
  border-radius: 10px;
  max-height: 100%;
  overflow: scroll;
}

.modal__body::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.modal__body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.modal__close {
  text-align: right;
  margin-top: -15px;
  font-size: 40px;
  color: gray;
  cursor: pointer;
}

.modal__body h2 {
  text-align: left;
  width: 100%;
}